<h1>Countries Edit</h1>


<%= form_for(@countries) do |countries| %>

<%= countries.label :name %>
<%= countries.text_field :name, class: 'form-control'%>

<%= countries.label :population %>
<%= countries.text_field :population, class: 'form-control'%>

<%= countries.label :flag %>
<%= countries.text_field :flag, class: 'form-control'%>

<%= countries.label :language %>
<%= countries.text_field :language, class: 'form-control'%>

<%= countries.label :president %>
<%= countries.text_field :president, class: 'form-control'%>

<%= countries.submit "Save Changes", class: "countries" %>

<% end %>