<h1>Countries Edit</h1>

<%= @countries.title %>

<%= form_for(@countries) do |countries| %>

<%= countries.label :title %>
<%= countries.text_field :title, class: 'form-control'%>

<%= countries.label :desc %>
<%= mcountries.text_field :desc, class: 'form-control'%>

<%= countries.label :age_r %>
<%= countries.text_field :age_r, class: 'form-control'%>

<%= countries.submit "Save Changes", class: "countries" %>

<% end %>