<h1>Countries Index Page</h1>

<a href="/countries/new">New</a>


<% @countries.each do |countries| %>
	
	<h2><%=countries.name%></h2>
	<p><%=countries.population%></p>
	<img><%=countries.flag%></img>
	<p><%=countries.language%></p>
	<p><%=countries.president%></p>

	<a href="/countries/<%= countries.id %>">SHOW PAGE</a>
	<a href="/countries/<%= countries.id %>/edit">Edit PAGE</a>
	<a href="/countries/<%= countries.id %>/destroy">Delete</a>
	

<% end %>