<h1>Countries Show</h1>
<!-- <p>Find me in app/views/movies/show.html.erb</p> -->
<h2> <%= @countries.name %> </h2>
<p> <%= @countries.population %> </p>
<p><%= @countries.flag %></p>
<p><%= @countries.language %></p>
<%= @countries.president %>

<%= @countries %>